name: iproov_sdk_example
description: Example app for the iProov Face Flutter SDK

publish_to: 'none'

environment:
  sdk: '>=3.3.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  iproov_flutter:
    # When depending on this package from a real application you should use:
    #   iproov_sdk: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    # You will need the following instead of "path: ../":
    #     git:
    #       url: git@github.com:iProov/flutter.git
    path: ../

  iproov_api_client:
    path: ../iproov_api_client

  cupertino_icons: ^1.0.6
  http: ^1.2.2
  bmprogresshud: ^1.0.0
  uuid: ^4.4.2

dev_dependencies:
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
