.DS_Store
.dart_tool/

.packages
.pub/
.gradle/

build/

.idea/workspace.xml
.idea/libraries/*

.flutter-plugins-dependencies
.flutter-plugins
pubspec.lock

local.properties
flutter_export_environment.sh
Generated.xcconfig
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
misc.xml
runConfigurations.xml

.bitrise.secrets.yml